
.box2{
    height: 550px;
    width: 400px;
    background-color:  #dacdcd;
   /* opacity: 90%;*/
    position: absolute;
    color: black;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 65%;
    padding: 25px 25px;
    border-radius: 30px;
    padding-bottom: 100px;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
}
.err{
    color: red;
}
.box2 input{
    width: 100%;
    margin: 10px;
    color: black;
    margin-left: 0px;
}
.box2 input[type="text"],input[type="password"]{
    border: none;
    border-bottom: 1px solid black ;
    background-color: transparent;
    outline: none;
    height: 40px;
    font-size: 15px;
}
.box2 input[type="number"]{
    width: auto;
    color: black;

}
.box2 input[type="radio"]{
     width: auto;
 
}
.box2 input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background-color:#4CAF50;
    color:azure;
    border: 20px;
    border-radius: 20px;

}
.box2 input[type="submit"]:hover{
    cursor: pointer;
    background-color: #131211;
}
.login{
    text-decoration: none;
    color: rgb(17, 146, 103);
}



/*header style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    font-size: 18px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header1{
    height: 80px;
    width: 90%;
    background-color: #dacdcd;
    border-radius: 3px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.header1 .logo1{
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin: auto;
}

.link{
    text-decoration: none;
    color: black;
    padding: 5px;
    margin-left: 20px;
}
#image1{
    height: 65px;
    width: 70px;

}
.four1{
    display: inline-flex;
    vertical-align: middle;
    text-align: center;
}
.links{
    margin: auto;
}

