body{
    margin: 0;
    padding: 0;
    background-image: url(formcover.jpg);
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}
.box2{
    height: 430px;
    width: 230;
    background-color: rgba(17, 16, 17, 0.905);
   /* opacity: 90%;*/
    position: absolute;
    color: white;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 25px 25px;
    border-radius: 30px;
    padding-bottom: 100px;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
}
.err{
    color: red;
}
.box2 input{
    width: 100%;
    margin: 10px;
    color: white;
    margin-left: 0px;
}
.box2 input[type="text"],input[type="password"]{
    border: none;
    border-bottom: 1px solid white ;
    background-color: transparent;
    outline: none;
    height: 40px;
    font-size: 15px;
}
.box2 input[type="number"]{
    width: auto;
    color: black;

}
.box2 input[type="radio"]{
     width: auto;
 
}
.box2 input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: aquamarine;
    color:azure;
    border: 20px;
    border-radius: 20px;

}
.box2 input[type="submit"]:hover{
    cursor: pointer;
    background-color: #ffc107;
}

